@model List<Amazon.S3.Model.Tag>

@{
    ViewBag.Title = "Tag List";
}

<form action="@Url.Action("SearchTag","Home")" method="post">
    
    <fieldset>
        <legend>Tag List</legend>

        <div class="form-group row">
            <div class="col-sm-3">
                @Html.DropDownList("BucketName", new SelectList(ViewBag.Buckets, "BucketName", "BucketName"), new { @class = "form-control" })
            </div>
            <div class="col-sm-9">
                <input type="submit" value="Search" class="btn btn-info" />
            </div>
        </div>

    </fieldset>

</form>

@if (Model.Count > 0)
{
    <table class="table table-striped table-bordered table-hover table-full-width dataTable">
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </table>
}